{% extends 'base/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/styles/form.css' %}">
{% endblock link %}

{% block content %}

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2rem; margin-bottom: 3rem; font-size: 1.5rem;">
        <p>آیا از حذف درس  {{ object }} {% if object.group %}(گروه {{ object.group }}){% endif %} اطمینان دارید؟</p>
        <p style="color: #ff0000;">توجه: با حذف این درس، تمامی اطلاعات مرتبط با آن (جلسات هفتگی، نمره ارزیابی استاد و ...) حذف خواهند شد.</p>
    </div>
    <div class="delete-form">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div style="display: flex; gap: 2rem; justify-content: center; align-items: center;">
                <input type="submit" value="تایید">
                <a href="{% url 'schedules:course-detail' semester_code=object.program.semester program_code=object.program.code course_id=object.id %}" class="cancel-btn">
                        انصراف
                </a>    
            </div>
        </form>    
    </div>
{% endblock content %}