{% extends 'base/base.html' %}
{% load static %}
{% load svg %}


{% block link %}
    <link rel="stylesheet" href="{% static '/styles/semester_list.css' %}">
{% endblock link %}

{% block content %}
    {% if object_list %}
        <a href="{% url 'schedules:instructor-create' %}" style="display: inline-block; position: absolute; left: 0; text-decoration: none; color: #fff; background-color: rgb(0, 66, 44); padding-inline: .5rem; padding-block: .3rem; border-radius: 5px;">
            <div style="display: flex; gap: .5rem; align-items: center;">
                {% svg 'plus-square-line-icon' %}
                <p>افزودن مدرس جدید</p>
            </div>
        </a>
        <h2 style="text-align: center; font-size: 1.4rem; margin-bottom: 4rem;">اساتید دروس:</h2>
        <div style="display: flex; flex-direction: column; align-items: center; gap: 2rem;">
            {% for instructor in object_list %}
                <div style="display: flex; gap: 2rem;">
                    <p style="font-size: 1.2rem; text-decoration: none; color: #000; cursor: default;">
                        {{ instructor.first_name }} {{ instructor.last_name }}
                    </p>
                    <a href="{% url 'schedules:instructor-update' pk=instructor.id %}" style="text-decoration: none;" title="ویرایش">{% svg 'pencil-icon' %}</a>
                    <a href="{% url 'schedules:instructor-delete' pk=instructor.id %}" style="text-decoration: none;" title="حذف">{% svg 'recycle-bin-icon' %}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div style="font-size: 1.7em; text-align: center;">
            ترمی ثبت نشده است.
            <a href="{% url 'schedules:semester-create' %}" style="text-decoration: none; color: #0032d8;">
                ایجاد ترم جدید
            </a>
        </div>
    {% endif %}
{% endblock content %}