   <div style="display: flex; flex-direction: column; gap: 2em;">
    <div style="display: flex; flex-direction: row-reverse; gap: 2em; align-items: center;">
        <div>شنبه</div>
        {% for session in saturday_sessions %}
            <div style="display: flex;">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <div>
                        {{ session.course }}
                    </div>
                    <small>{{ session.start_time|date:'H:i' }} - {{ session.end_time|date:'H:i' }}</small>
                </div>
            </div>
        {% endfor %}
    </div>





<!--
<div class="weekday-row">
    <div class="weekday-name">

    </div>

</div>
-->


<div class="schedule-container">
    
</div>