{% extends 'base/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static '/styles/form.css' %}">
{% endblock link %}

{% block content %}

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2rem; margin-bottom: 3rem; font-size: 1.5rem;">
        <p>آیا از حذف دوره {{ object.title.title }} از ترم {{ object.semester.code }} اطمینان دارید؟</p>
        <p style="color: #ff0000;">توجه: با حذف دوره، تمامی اطلاعات درس‌های ثبت شده دوره در ترم {{ object.semester.code }} حذف می‌شوند.</p>
    </div>
    <div class="delete-form">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div style="display: flex; gap: 2rem; justify-content: center; align-items: center;">
                <input type="submit" value="تایید">
                <a href="{% url 'schedules:program-detail' semester_code=object.semester.code program_code=object.code %}" class="cancel-btn">
                        انصراف
                </a>    
            </div>
        </form>    
    </div>
{% endblock content %}