{% extends 'base/base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/update_form.css' %}">
{% endblock link %}

{% block content %}
<div class="update-form" dir="rtl">
    <h2 style="font-size: 1.5rem; margin-bottom: 4rem; text-align: center;">پس از اعمال تغییرات، "به‌روز رسانی" را انتخاب کنید</h2>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="به‌روز رسانی">
    </form>    
</div>

<a href="{% url 'schedules:program-delete' semester_code=program.semester program_code=program.code %}" style="text-decoration: none; color: #f1f1f1; position: absolute; top: 0; left: 0; display: inline-block;">
    <div style="background-color: #ff0000; padding-inline: 2rem; padding-block: .5rem; border-radius: 5px;">
        حذف دوره
    </div>
</a>

{% endblock content %}