{% extends 'base/base.html' %}
{% load svg %}

{% block content %}
<h3 style="text-align: center; font-size: 1.5rem; margin-bottom: 1.2rem;">
     اطلاعات دوره
     <a href="{% url 'schedules:program-update' semester_code=program.semester program_code=program.code %}" style="font-size: .9rem; text-decoration: none; color: #0032d8;">
        (ویرایش اطلاعات)
    </a>
</h3>

<div dir="rtl" style="display: flex; flex-direction: column; gap: .7em; font-size: 1.3rem; text-align: center; margin-bottom: 2rem;">
    <p>کد دوره: {{ program.code }}</p>
    <p>عنوان: {{ program.title }}</p>
    <p>ترم: <a href="{% url 'schedules:semester-detail' semester_code=program.semester %}" style="text-decoration: none; color: #0032d8;" dir="rtl">{{ program.semester }}</a></p>
    <p>
        <a href="{% url 'schedules:program-schedule' semester_code=program.semester.code program_code=program.code %}" style="text-decoration: none; color: #0032d8;">
            {% svg 'table-icon' %}
            دریافت برنامه هفتگی
        </a>
    </p>
</div>


{% if program.course_set.all %}
    <a href="{% url 'schedules:course-create' semester_code=program.semester program_code=program.code %}" style="position: absolute; top: 0; left: 0; font-size: 1.1rem; text-decoration: none; color: #0032d8;">افزودن درس جدید</a>
    <h3 style="text-align: right; font-size: 1.5rem; margin-bottom: 2rem;">لیست درس‌های دوره:</h3>
    <div style="display: flex; gap: 2rem; flex-wrap: wrap;">
        {% for course in program.course_set.all %}
            <a href="{% url 'schedules:course-detail' semester_code=program.semester program_code=program.code course_id=course.id %}" style="align-self: stretch; background-color: #004b0c; font-size: 1.5rem; text-decoration: none; color: #f1f1f1; border-radius: 5px;">
                <div style="width: 8em; text-align: center; padding: 1rem; display: flex; flex-direction: column; gap: .7rem; border-radius: 5px; justify-content: center;">
                    <p>
                        {{ course.title }}
                    </p>
                    <p style="font-size: .9rem;">
                        {{ course.instructor }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <h3 style="font-size: 1.5em; text-align: center;" dir="rtl">درسی برای این ترم ثبت نشده است. <a href="{% url 'schedules:course-create' semester_code=program.semester program_code=program.code %}" style="text-decoration: none; color: #0032d8;">افزودن درس</a></h3>
{% endif %}
{% endblock content %}