body {
    background-color: antiquewhite;
}

.container {
    max-width: 1280px;
    margin-inline: 2em;
    margin-block-start: 2em;
}

p, h1, h2, h3, h4 {
    cursor: default;
}

a * {
    cursor: pointer;
}